<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flickin' Fluke</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content="Random movie finder">
	<meta name="author" content="Ása Einars &amp; JT">
	<meta property="fb:app_id" content="990046544425613"> 
	<meta property="og:title" content="Flickin' fluke">
	<meta property="og:image" content="http://flickinfluke.com/img/ff_logo.png">
	<meta property="og:url" content="http://flickinfluke.com/">
	<meta property="og:site_name" content="Flickin' Fluke">
	<meta property="og:description" content="A web app that helps lost souls finding equally lost films">
	<meta property="og:type" content="website">
	<link rel="icon" href="img/favicon.png" type="image/x-icon" sizes="32x32">
	<link rel="stylesheet" type="text/css" href="node_modules/angularjs-slider/dist/rzslider.css">
	<link rel="stylesheet" type="text/css" href="dist/index.css">
</head>
<body ng-app="movApp" ng-controller="movCtrl" ng-view>
	<script type="text/javascript" src="js/facebook.js"></script>
	<div class="bakcground-white">
		<div class="loader" ng-show="loader == true">
			<p class="five-sec">Hang on ppl! We are randomizing!</p>
			<p class="ten-sec">So.. we are going through roughly 280.000 movies</p>
			<p class="ten-sec-two">it might take a while...</p>
			<p class="fteen-sec">Amazing patience you have...<br>...Good for you! :)</p>
		</div>	
		<!-- display that comes on when user rotates his/hers handheld divice to landscape -->
		<div class="use-portrait">
			<h2 class="use-portrait-heading">Please use this app in portrait mode!</h2>
		</div>
		<header>
			<div class="row align-center wrap">
				<a ng-click="logo_btn()">		
					<img class="row ff-logo" src="img/ff_logo.svg" alt="">
					<h1 class="show-for-sr">FLICKIN’ FLUKE</h1>
					<p class="show-for-sr">&copy;<script type="text/javascript">
  document.write(new Date().getFullYear());
</script>, Jón Tryggvi Unnarsson &amp; Áslaug Rán Einarsdóttir.</p> 
				</a>			
			</div>
		</header>
		<!-- intro PreLoader -->
		<!-- <div id="preloader"></div> -->
		<div class="theRotator">
			<div id="rotate-logo"></div>
		</div>
		<!-- The Randomizer -->
		<div id="randomizer" class="align-center" ng-show="show" ng-swipe-left="rdzr_btn()">
			<div class="wrap">
				<a class="randomizer-button" ng-click="rdzr_btn()">
					<h2 class="randomizer-heading">Flickin' fluke</h2>
					<div class="logo-rotated"></div>
					<p class="find-flick">Click to find a flick</p>
				</a>
			</div>	
		</div>
		<!-- The Find -->
		<div id="theFind" class="row wrap" ng-swipe-left="btn()">
			<h2 class="movie-title align-left">{{title}}</h2>
			<div class="movie-plcholder">
				<div class="iframe-wrapper align-center">
					<div id="youtube_canvas">
						<iframe class="align-center" frameborder="0" src="{{trailer}}"></iframe>
					</div>
				</div>	
			</div>
			<p class="imdb-rating">{{rtng}}<br>{{premierYear}}</p>
		</div>
		
	</div>  <!-- white background -->
		<!-- Bottom Nav --> 
	<div data-sticky-container>		
		<div class="title-bar" data-sticky data-options="marginBottom:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="content:bottom">
			<nav class="top-bar bottom-bar nav-wrap">
	  			<ul class="no-bullet row" ng-class="{'hide-nav': navHide}">
	    			<li class="relative small-2 medium-2 large-2 columns">
	    				<div class="switch">
							<input ng-click="filter()" class="switch-input" id="largeSwitch" type="checkbox" name="exampleSwitch">
							<label class="switch-paddle" for="largeSwitch" id="switch-paddle">
								<span class="show-for-sr">Show Large Elephants</span>
							</label>
						</div>								    				
	    				<!-- The Filters -->
						<div class="filters" ng-class="{'hide-filters': filterCanvas }">
						<div class="filter-slider">
							 	<select ng-options="genre.id as genre.value for genre in genres" ng-change="update(selected)" ng-model="selected" ng-init="selected = genres[0].id"></select>
							 	<!-- <select id="myselection" multiple="true" ng-model="selectedGeneres" ng-options="genre.label for g in genres"></select> -->
						 	</div>
							 <div class="filter-slider">
							 	<p class="filter-text">Year</p><rzslider class="" rz-slider-model="slider_translate_year.minValue" rz-slider-high="slider_translate_year.maxValue" rz-slider-options="slider_translate_year.options"></rzslider>
						 	</div>	
						 	<div class="filter-slider">
							 	<p class="filter-text">Rating</p>
							 	<rzslider rz-slider-model="slider_translate.minValue" rz-slider-high="slider_translate.maxValue" rz-slider-options="slider_translate.options"></rzslider>
						 	</div>				 		
						</div>
	    			</li>
	    			<li class="small-8 medium-8 large-8 columns align-middle">
	    				<button ng-click="btn()" type="button" class="bottom-button" href="#">FLICK ME ANOTHER FLUKE!</button>
	    			</li>
	    			<li class="small-2 medium-2 large-2 columns si-text" ng-class="{'si-text-hide': statusSiText}">
	    				<!-- <div id="status" ng-click="logout()" ng-class="{'hide-status': status}"></div> -->
	    				<a ng-click="share()" id="fb-login-button" ng-class="{'show-me': fbShow}" type="button"></a>
	    			</li>
	  			</ul>
			</nav>
		</div>
	</div><!-- Bottom nav finish -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="js/ngAnimate.js"></script>
	<script type="text/javascript" src="node_modules/angularjs-slider/dist/rzslider.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-touch.js" type="text/javascript"></script>
	<script src="js/app.js" type="text/javascript"></script>
	<script src="js/servises/servise.js" type="text/javascript"></script>
	<script src="js/servises/nogenre.js" type="text/javascript"></script>
	<script src="js/controllers/movCtrl.js" type="text/javascript"></script>
	
</body>
</html>