// popup filter
.filters {
	position: absolute;
	left: 0;
	background-color: $white;
	width: vw(480);
    animation: filter_slide_in 0.3s forwards;
    z-index: 1;
    @include breakpoint(large down){
        width: 40vw;
    } 
    @include breakpoint(medium down){
        width: 80vw;
    }
    @include breakpoint(small down){
        width: 100vw;
    }
}

.hide-filters {
	position: absolute;
    border: none !important;
    overflow: hidden;
	animation: filter_slide_out 0.3s forwards;
    @include breakpoint(small down) {
        width: 100vw;  
    }
}

.hide-status {
    position: absolute;
    border: none !important;
    overflow: hidden;
    display: none;
    @include breakpoint(small down) {
        width: 100vw;  
    }
}

// RZ sliders 
rzslider {
    position: relative;
    float: right;
    display: inline-block;
    width: 72%;
    height: 4px;
    margin: 35px 0 15px;
    vertical-align: middle;
    user-select: none;
}

.filter-text {
	@include font-roboto(main-text, $red);
	display: inline-block;
	vertical-align: bottom;	
	margin: 0 19px -22px -7px;  
}

rzslider .rz-pointer {
    top: -11px;
    z-index: 3;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: $white;
    border: 1px solid $red;
    border-radius: 50%;
}

rzslider .rz-pointer:after {
    display: none;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    content: '';
}

rzslider .rz-pointer.rz-active:after {
	background: $red;
}

rzslider .rz-bar-wrapper {
    right: 0;
    z-index: 1;
    width: 80%;
    height: 32px;
    padding-top: 16px;
    margin-top: -16px;
    box-sizing: border-box;
}
rzslider .rz-bar {
	left: 0;
	z-index: 1;
	width: 100%;
	height: 5px;
	border: 1px solid $red;
	background: $white;
	border-radius: 0;
}
rzslider .rz-bar.rz-selection {
    z-index: 2;
    background: $red;
    border-radius: 0;
}

rzslider .rz-bubble {
	@include font-roboto(main-text, $red);
	line-height: 2em;
	position: absolute;
    bottom: 6px;
    padding: 1vh 0; 
    cursor: default;   
}
 span.rz-bubble:first-of-type + span.rz-bubble {
 	right: -10px;
 }

rzslider .rz-bubble.rz-limit {
   display: none;
}

.filter-slider {
	position: relative;
	width: 98%;
	height: auto;
	margin: 5vh auto; 
     @include breakpoint(small down) {
        margin: 7vh auto; 
  } 
}

select {
    width: 90%;
    border: 1px $red solid;
    background-color: none;
    @include font-roboto(main-text, $red);
   
    text-align: center;
}