#preloader { 
	display: none;
	position: fixed; 
	left: 0; 
	top: 0; 
	z-index: 99999999999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	opacity: 1;
	background-repeat: no-repeat;
	animation: infinite-spinning 2s infinite alternate, preloaderTimer 2s 3s forwards;	
}

#rotate-logo {
	 // display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	z-index: 99998;
	background-color: $red;
	opacity:1;
	animation: preloaderTimer 3s 2.5s forwards;
	&::before{
		content: "";
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    z-index: 99999;
	    opacity: 1;
	    background: url('../img/ff_diamond_button_white.svg') no-repeat center center;
		animation: rotate-logo 1.5s 1.5s forwards, preloaderTimer 3s 2.5s forwards;
		@include breakpoint(large down){
			background-size:20%;
		}
		@include breakpoint(small down){
			background-size: 30%;
		}
	}
}

.loader { 
	 // display: none;
	position: fixed; 
	left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	opacity: 1;
	animation: infinite-spinning 2s infinite alternate;	
	background-repeat: no-repeat;

	& .five-sec{
		@include font-roboto(main-text, $red);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 30vh;
		left: -150vw;
		transition: all .3 ease-in-out;
		animation: fiveSec 3.5s 5s forwards;
		@include breakpoint(small down){
			top: 15vh;
		}
	} 
	& .ten-sec {
		@include font-roboto(main-text, $red);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 20vh;
		left: -150vw;
		transition: all .3 ease-in-out;
		animation: tenSec 4.5s 10s forwards;
		@include breakpoint(small down){
			top: 15vh;
		}
	}
	& .ten-sec-two {
		@include font-roboto(main-text, $red);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 25vh;
		right: -150vw;
		transition: opacity .3 ease-in;
		animation: tenSecTwo 4.5s 10s forwards;
		@include breakpoint(small down){
			top: 18vh;
		}
	}
	& .fteen-sec {
		@include font-roboto(main-text, $red);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 65vh;
		left: 18vw;
		opacity: 0;
		transition: opacity .3 ease-in;
		animation: fteenSec 4.5s 30s alternate infinite;
		@include breakpoint(small down){
			top: 80vh;
		}
	}
}

.use-portrait{
	display: none;
	& .use-portrait-heading {
		@include font-roboto(button-text);
		text-align: center;
		position: relative;
		width: 90vw;
		margin: 25vh auto 0;
		vertical-align: middle;
		@include breakpoint(medium down) {
			margin: 15vh auto 0;
		}
		@include breakpoint(small down) {
			margin: 10vh auto 0;
		}
	}
	@include breakpoint(medium down){
		display: none;
	}
	@media screen and #{breakpoint(landscape)} and #{breakpoint(medium down)} {
		display: block;
		position: absolute;
		z-index: 999999999999999;
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: $red;
		&::before {
			content: "";
		    position: fixed;
		    width: 100%;
		    height: 100%;
		    left: 0;
		    z-index: 9999999999999999;
		    background: url('../img/ff_diamond_button_white.svg') no-repeat center center;
		    background-size: 10%;
			animation: rotate-logo 2s reverse;
		}
	}	
}