.title-bar {
  background: $red;
  padding: 0;
}

.hide-nav {
  position: absolute;
  height: 0;
  left: -105vw;
  transition: all 1.3s ease-in;
  animation: filter_slide_in 0.3s forwards;
}

nav { 
  width: 100%;
  data-bottom-anchor: 1px;
  & ul {
    width: 100%;
  }
}

.bottom-bar {
  background: none;
  padding: 0;
}

.top-bar ul {
  background: none;
}

.large-2 {
    padding: 0;
}

.switch {
  cursor: pointer;
  margin-bottom: 0;
  outline: 0;
  position: relative;
  user-select: none;
  color: transparent;
  font-weight: bold;
  font-size: 0.875rem;
  display: block;
  background: url(../img/Filters.svg) no-repeat center center;
  border-left: 1px solid $white;
  border-right: 1px solid $white;
  background-size: 4vh;
  transition: .2s ease-in-out;
  &:hover {
    text-decoration: none;
    background: url(../img/FiltersRed.svg) no-repeat center center;
    background-color: $white;
    background-size: 4vh;
    @include breakpoint(large down){
      background: url(../img/Filters.svg) no-repeat center center;
      background-color: $red; 
       background-size: 4vh;
    }
  }
  @include breakpoint(large down){
     background-size: 4vh;
  }
  @include breakpoint(small down) {
      border-left: none !important;
       background-size: 4vh;
    } 
}
.switch-paddle {
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    height: 8vh;
    border-radius: 0;
    color: inherit;
    font-weight: inherit;
    transition: none;
}

.switch .switch-paddle {
  display: block;
  background: transparent;
}

input:checked ~ #switch-paddle {
  background-size: 4vh;
  background: url(../img/FiltersRed.svg) no-repeat center center;
  background-color: $white;
  background-size: 4vh;
  border-left: none;
  transform: none;
}
input:checked ~ .switch-paddle {
  background: url(../img/FiltersRed.svg) no-repeat center center;
  background-color: $white;
  background-size: 4vh;
  border-left: none;
  transform: none;
  @include breakpoint(large down) {
    background-size: 4vh;
  }
}
.switch-paddle::after {
  background: none;
  content: '';
  display: block;
  position: absolute;
  height: 1.5rem;
  left: 0.25rem;
  top: 0.25rem;
  width: 1.5rem;
  transition: none;
  transform: none;
  border-radius: 0; 
}

.bottom-button {
  height: 7vh;
  width: 100%;
  @include font-roboto(button-text);
  text-align: center;
  &:hover {
    font-size: 1.2em;
  }
  &:focus {
    outline:0;
  }
  @include breakpoint(large down){
    font-size: 1em;
    vertical-align: text-top;
    &:hover {
      font-size: 1em;
      vertical-align: text-top;
    }
  }

  @include breakpoint(small down){
    font-size: 0.8em;
  }
}
.pluginSkinLight .pluginFontHelvetica {
   background: url(../img/fb_logo.svg) center center no-repeat;
   @include font-roboto(main-text);
   color: $red;
}

#fb-login-button {
  display: block;
  height: 8vh;
  width: 100%;
  background: url(../img/fb_logo.svg) no-repeat center center;
  border-left: 1px solid $white;
  border-right: 1px solid $white;
  background-size: 5vh;
  padding: 0;
  transition: .2s ease-in-out;
   @include breakpoint(large down){
       background-size: 5vh;
    }
   @include breakpoint(small down) {
      border-right: none !important;
    }

  &:hover {
    background: url(../img/fb_logo_red.svg) no-repeat center center;
    background-color: $white;
    background-size: 5vh;
      @include breakpoint(large down){
       background-size: 5vh;
    }
  }
}

.si-text {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -9vh;
    right: -3vh;
    height: 68px; 
    width: 200px;
    background: url(../img/ShareFlickinFluke.svg) no-repeat center center;
<<<<<<< HEAD
=======
    background-size:55%;
>>>>>>> The_sharing_way
    @include breakpoint(small down){
      right: 2vh;
      background-size: 12vh;
      width: 23vw;
      top:-10vh;
    }
  }
}

.si-text-hide {
  &::before {
    background: none;
  }
}

#status {
    border-left: 1px solid white;
    border-right: 1px solid white;
    height: 8vh;
    width: 100%;
    padding-top: 1vh;

    & img {
      border-radius: 8%;
      width: 6vh;
      height: 6vh;
      border: 1px solid white;

      &:hover {
        cursor: pointer;
      }
    }
    @include breakpoint(small down){
      border-right: none !important;
    }
}

.show-me {
  display: block;
}

.dimentions {
  width: 40px;
  height: 8vh;
  display: block;
}