#randomizer {
	// display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left:0;
	background-color: $red;
	z-index: 8888;
 }

.logo-rotated {
	position: relative;
	width: 100%;
	height: 20vh;
	&::before {
		content: "";
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    z-index: 9;
	   	background: url('../img/ff_diamond_button_white.svg') transparent no-repeat center center;
	    transform: rotate(-90deg);
	    @include breakpoint(large down) { 
	    	animation: none;
	    	background: url('../img/ff_diamond_button_white.svg') transparent no-repeat center center;
	    	transform: rotate(-90deg);
			background-size: 20%;
		}
		@include breakpoint(small down) {
			background-size: 30%;
		}
	}
}

.randomizer-heading {
	@include font-roboto(randomizer-title);
	color: $white;
	text-transform: uppercase;
	margin-top: 20vh;
	@include breakpoint(xlarge down){
		font-size: em(60);
		margin-top: 15vh;
	}
	@include breakpoint(768 down){
		font-size: em(52);
		margin-top: 13vh;
	}
	@include breakpoint(415 down){
		font-size: em(48);
	}
	@include breakpoint(321 down) {
		margin-top: 13vh;
		font-size: em(36);
	}
}

.find-flick {
	@include font-roboto(main-text);
	color: $white;
	font-weight: 700;
	margin-top: 15vh;
	@include breakpoint(medium down) {
		margin-top: 5vh;
	}
	@include breakpoint(small down) {
		color: $white;
		margin-top: 10vh;
	}	
}

.randomizer-button {
	cursor: pointer;
}