#theFind {
	.movie-plcholder {
		position: relative;
		background: none;
		width: 100%;
		height: auto;
		overflow: hidden;	
		margin: 2vh 0 0 0;	
	}
	.movie-title {
		@include font-roboto(movie-title);
		line-height: 1em;
		text-align: left;
		height: auto;
		max-height: 100px;
		width: 90vw;
		max-height: 500px;
		margin-bottom: 1.5vh;
		@include breakpoint(medium down){
			height: em(14);
			margin-bottom: 1.8vh;
		}
	}
	p.imdb-rating {
		@include font-roboto(main-text);
		color: $red;
		text-align: left;
		@include breakpoint(small down) {
			color: $red;
		}	
	}
}
header .ff-logo {
	margin: 0 auto;
	position: relative;
	width: 15vh;
	height: 15vh;
	background: url(../img/ff_logo.svg) no-repeat 50% 50%;
	@include breakpoint(medium down) {
		width: 20vh;
		height: 20vh;
		background-size: 100%;
	}
}

.iframe-wrapper {

	display: block;
	width: 100%;
	max-width: 640px;
	height:auto;
	@include breakpoint(small down) {
		width: 100%;
		height:aspectRatio(96);
	}	
}

#youtube_canvas {
	height:auto;
	width:100%;	
} 

img{
	max-width:none !important;
	background:none !important;
}


iframe {
	width:100%;
	max-width: 640px;
	height:aspectRatioPx(640);
	@include breakpoint(small down) {
		width: 100%;
		height:aspectRatio(96);	
	}
	.ytp-large-play-button.ytp-touch-device .ytp-icon-large-play-button, .ytp-cued-thumbnail-overlay:hover .ytp-icon-large-play-button {
    background: no-repeat url(../img/diamond_button_white_90.svg) -549px -184px;
    background-size: auto;
    width: 68px;
    height: 48px;
}
}
