@function em($pixels, $context: $browser-context) {
 @return #{$pixels/$context}em;
}


@function vh($pixels, $context: $browser-context) {
 @return #{$pixels/$context}vh;
}

@function vw($pixels, $context: $browser-context) {
 @return #{$pixels/$context}vw;
}


@function aspectRatio($width) {
	@return #{$width * $aspectRatio}vw;
}


@function aspectRatioPx($width) {
	@return #{$width * $aspectRatio}px;
}


