body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: $red;
  @include breakpoint(small medium) {  
  }
}
.bakcground-white {
  overflow: hidden;
  position: relative;
  background: $white;
  padding: 0;
  margin: 0;
  height: 92vh;
  width: 100vw;
}

header {
  margin-bottom: 2vh;
  margin-top: 0;
  @include breakpoint(medium down) {
    margin: 5vh 0;
  }
}

.wrap {
  width: 540px;
  margin: 0 auto;
  text-align: center;
  @include breakpoint(medium down) {
    width: 80vw;
  }
  @include breakpoint(small down) {
    width: 96vw;
  }
}

.nav-wrap {
  width: 540px;
  margin: 0 auto;
  text-align: center;
  @include breakpoint(medium down) {
    width: 80vw;
  }
  @include breakpoint(small down) {
    width: 100vw;
  }
}

.relative {
  position: relative;
}

nav ul {
  width: 640px;
  margin: 0 auto;
}
