.ng-hide {
	top: -200%;
	left: 0;
	animation: preloaderTimer 2s alternate;
}

.hide {
	position: absolute;
	top: -200%;
	left: 0;
	animation: preloaderTimer 2s forwards;
}

.show {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left:0;
	z-index: 999999999;
	animation: preloaderTimer 2s forwards;
}

.active {
  background: black;
}
.disabled {
  background: #eee;
  color: #aaa;
}