
//rotating the log for part II in intro to the ranomizer screen
@keyframes rotate-logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

// swaping svg's of the logo in the intro part
@keyframes infinite-spinning {
  0%,66% {
    background: url('../img/FlickingFlukeLoad.svg') $white no-repeat center center;

  }
  33%,100% {
    background: url('../img/FlickingFlukeLoad2.svg') $white no-repeat center center;

  }
}
@keyframes infinite-spinning-loader {
  0%,66% {
    background: url('../img/FlickingFlukeLoad.svg') $white no-repeat center center;
    
  }
  33%,100% {
    background: url('../img/FlickingFlukeLoad2.svg') $white no-repeat center center;
 
  }
}

// preload timer for display none
@keyframes preloaderTimer {
	0% {
		top: 0;
		opacity: 1;
	}
	50% {
		top: 0;
		opacity: 0,5;
	}
	99%{
		top: 0;
		opacity: 0;
	}
	100% {
		top: -200vh;
		opacity: 0;
	}
}

// filter animation keyframes
@keyframes filter_slide_out {
	0% {
		bottom: 8.1vh;
		height: 47vh;
		max-height: 47vh;
		border-left: 1px $red solid;
		border-right: 1px $red solid;
		border-top: 1px $red solid;
		border-bottom: none;
		overflow: visible;
		border-bottom: none;	
	}
	100% {
		bottom: 8.1vh;
		height: 0;
		max-height: 0;
		border: none;
		overflow: hidden;
		border-bottom: none;	
	}
}

@keyframes filter_slide_in {
	0% {
		bottom: 8.1vh;
		height: 0;
		max-height: 0;
		border: none;
		overflow: hidden;
		border-bottom: none;	
	}
	100% {
		bottom: 8.1vh;
		height: 47vh;
		max-height: 47vh;
		border-left: 1px $red solid;
		border-right: 1px $red solid;
		border-top: 1px $red solid;
		border-bottom: none;
		overflow: visible;
		border-bottom: none;
	}
}

// loading scr messages
@keyframes fiveSec {
	0% {
		left: -200vw;
		opacity: 0;
	}
	10% {
		left: 18vw;
		opacity: 0.3;
	}
	50% {
		left: 18vw;
		opacity: 1;
	}
	90% {
		left: 18vw;
		opacity: 0.9;
	}
	100% {
		left: 300vw;
		opacity: 0;
	}
}

@keyframes tenSec {
	0% {
		left: -200vw;
		opacity: 0;
	}
	10% {
		left: 5vw;
		opacity: 0.3;
	}
	50% {
		left: 8vw;
		opacity: 1;
	}
	90% {
		left: 14vw;
		opacity: 0.9;
	}
	100% {
		left: 300vw;
		opacity: 0;
	}
}
@keyframes tenSecTwo {
	0% {
		right: -200vw;
		opacity: 0;
	}
	10% {
		right: -20vw;
		opacity: 0.3;
	}
	50% {
		right: -20vw;
		opacity: 1;
	}
	90% {
		right: -20vh;
		opacity: 0.9;
	}
	100% {
		right:300vw;
		opacity: 0;
	}
}
@keyframes fteenSec {
	0% {
		
		opacity: 0;
	}
	10% {
		
		opacity: 0.3;
	}
	50% {
		
		opacity: 1;
	}
	90% {
		
		opacity: 0.5;
	}
	100% {
		
		opacity: 0;
	}
}


