@mixin font-roboto($text, $textColor:$dark-grey) {

	@if $text == main-text {
		/* Main text */
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 400;
		font-size: em(16);
		line-height: em(21);
		color: $textColor;
		@media screen and #{breakpoint(landscape)} and #{breakpoint(medium down)} {
			font-size: em(12);
		}
		@include breakpoint(small down) {
            color: $textColor;
        }
	}

	@if $text == movie-title {
		/* Movie title */
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 400;
		font-size: em(24);
		line-height: em(24);
		color: $red;
		@include breakpoint(large down){
			font-size: em(18);
		}
		@media screen and #{breakpoint(landscape)} and #{breakpoint(medium down)} {
			font-size: em(14);
		}
	}

	@if $text == randomizer-title {
		/* Movie title */
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 900;
		font-size: em(42);
		line-height: em(48);
		color: $white;
	}

	@if $text == button-text {
		/* Button text */
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		font-size: em(16);
		line-height: em(32);
		color: $white;
	}

	@if $text == signin-text {
		/* Sign in for better flicks */
		font-family: 'Shadows Into Light Two', cursive;
		font-size: em(21);
		line-height: em(14);
		color: $red;
		transform: rotate(345deg);

	}
}