/** Colors ***/
$white: #fff;
$dark-grey: #191919;
$red: #DD4F41;

/*** Dimentions ***/
$disignwidth: 640;

/*** Sizes ***/
$browser-context: 16;

// Hér er stuðull sem býr til margfeldi stuðul fyrir 16 9 hlutföll
$aspectRatio: 9/16; 

/*** Breakpoints **/
$breakpoints: (
  small: 0px, 
  medium: 640px,
  large: 737px,
  xlarge: 1024px,
  xxlarge: 1440px,
);

